<html>

  <head>
 <title>BOOK RECOMMENDATION SYSTEM</title>

    
    <body>
   
      <style type="text/css">
         #bg {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
      font-size: calc(16px + 1vw);



}

main {

color: #EAEAEA;
text-align:center;

}

   </style>
       
        
    </body>
<div align="center">
	
    
      <div id="bg">
         <img src="{{url_for('static',filename='book.jpg') }} " >
         

     </div>
     
   </head>

   <body>
   <main>
      
   <p style="font-size:60px ; width: 50%;"> Books Are Our Life! </p>  
   <p><input type = "submit" value = "Analyze" /></p
   </main>
   </body>

</center>
</html>