<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:rgb(22, 22, 22)
    }
</style>
<body style="background-color:rgb(212, 191, 191)">

    <nav class="navbar" style="background-color:#70646b">
        
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/predict">Predict</a></li>
          
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <form action="/predict_books" method="post">
                    <input name="user_input" type="text" class="form-control"><br>
                    <input type="submit" value="Submit"class="btn btn-light">
                </form>
            </div>

            {% if books %}

             {% for i in books %}
                <div class="col-md-3" style="margin-top:50px">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{i[1]}}">
                            <p class="text-white">{{i[0]}}</p>
                            <h4 class="text-white">{{i[2]}}</h4>
                        </div>
                    </div>
                </div>
             {% endfor %}

            {% endif %}




        </div>
    </div>

</body>
</html>